
/*Base Layout*/
body{
  background-color: #161616;
  overflow-y: hidden;
  margin: 0px;
  overflow-x: hidden;
  /* height: 0%; */
}
  /*Scroll-Bar*/
      /*Disables*/
      .overflowHidden{
          height: 100vh;
          overflow-y: hidden;
      }
      /*Enables*/
      .overflowShow{
          overflow: auto;
          height: 100vh;
          overflow-x: hidden;
    }

/*Media Queries* --> Iphone and Tablets
  /*xs*/
@media (min-width: 0px){
    /*HAMBURGER NAVIGATION BAR*/
      .hamburgerContainer{
        width:100%;
        height: 120px;
        padding-top: 0;
        margin-bottom: 0vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-end;
      }
      .hamburgerContainer ul{
          flex-direction: column;
          list-style: none;
          width: 70%;
          padding: 0px;
          height: 100%;
          margin-top: 0px;
          position: fixed;
          background-color: #161616;
          z-index: 90;
          transition: all .55s ease-in-out;
          transform: translateX(200vw);
          overflow: hidden;
          visibility: hidden;
        
      }
      .hamburgerContainer li{
          display: flex;
          font-size: 1.5em;    
          padding: 5px;
          height: 100%;
          color: #FFFFFF;
          transition: 0.5s;
          justify-content: center;
      }.hamburgerContainer li:hover{
        color: #3676FF;
        transition: 0.15s;
        cursor: pointer;
      }.hamburgerContainer li:active{
        color: #2558c7;
        transition: 0.15s;
      }
      .hamburgerContainer a{
          display: flex;
          background-color: #161616;
          text-decoration: none;
          padding: 5%;
          cursor: default;
          display: flex;
          justify-content: center;
      } ul.open{
        visibility:visible;
        
        position: fixed;
        transform: translateX(0vw);
      }.overlayFadeIn{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.188);
        z-index: 6;
        animation: fade-in 0.25s;
      }.overlayFadeOut{
        z-index: 6;
        animation: fade-out 0.25s;
      }
      /*Close Navigation Menu*/
      #close-Button{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 12%;
        margin-bottom: 50px;
      } 
      #close-Button span:nth-child(1){
          margin-top: 100px;
          height: 5px;
          width: 44px;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-13px) rotate(45deg);
          cursor: pointer;
          transition: 0.5s ease-out;
      } #close-Button span:nth-child(2){
          height: 5px;
          width: 44px;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-18px) rotate(-45deg);
           transition: 0.5s ease-out;
          cursor: pointer;
      }.hamburgerIconBackground{
          width: 300px;
          height: 75px;
          margin-left: 50px;
          display: flex;
          margin:0;
          justify-content: end;
          padding-bottom: 10%;
      } .hamburgerIcon{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          width: 35px;
          height: 31px;
          padding-top: 15px;
          margin-right: 55px;
          top: 65px;
          z-index: 5;
           transition: 0.5s ease-out;
     }.hamburgerIcon span {
          height: 3.3px;
          width: 40px;
          background-color: #3676FF;
      }.hamburgerIcon:hover{
          cursor: pointer; 
      }#devLogoMobile{
        display: flex;
        left: 0;
        justify-content: flex-start;
        width: 50px;
        height: 10px;
        position: absolute;
        z-index: 5;
        color: #3676FF;
        padding: 25px;
        margin-top: 42px;
        padding-left: 45px;
        font-size: 40px;
        align-items: center;
        transition: 0.5s ease-out;
  }
    /* HERO SECTION */
    .heroContainer{
      width: 100vw;
      margin-top: 10%;
      margin-bottom: 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 100px;
    }
    .straightHeadshot{
      width: 350px;
      transition: 0.5s ease-in;
    }.headshotContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
       transition: 0.5s ease-out;
    }#firstPartTitle{
      font-size: 1.25em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.8em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.8em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.1em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: center;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 15px;
      margin-bottom: 100px;
    }#pTags{
      color: #3676FF;
      display: inline;
    }
    /*ABOUT SECTION*/
    .aboutContainer{
      margin: auto;
      width: 100%;
      height: fit-content;
      background-color: #3F3F3F;
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      padding-bottom: 18%;
    }#aboutDisc{
      margin: 50px;
      color: #FFFFFF;
      text-align: center;
    }
    #h1Tags{
      color: #3676FF;
      font-size: 1.0em;
      display: inline-block;
    }#aboutTitle{
      color: #FFFFFF;
      margin-top: 150px;
      font-size: 1.6em;
      display: inline-block;
    }#blueTag{
     color:#3676FF;
     font-size: 1.3em;
     display: inline-block;
    }
    /*WORK CONTAINER*/
    .workContainer{
      margin: auto;
      width: 100%;
      height: 1950px;
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      flex-direction: column;
    }#workTitle{
      margin: 50px;
      margin-top: 150px;
      font-size: 1.6em;
      text-align: center;
    }.displayContainer{
      width: 75%;
      overflow: hidden;
    }.displayBackground{
      width: 93%;
      margin:0px;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      margin-left: 7px;;
      margin-right: 7px;
      height: 90%;
      border-radius: 18px;
      border-width: 5px;;
      border-style: solid;
      border-color: #161616;
      background: #3676FF;
      transition: background 0.22s ease-out;
    }.displayBackground:hover{
      background: #2558c7;
      transition: background 0.22s ease-in;
      cursor: pointer;
    }.displayBackground:hover > #WGTT{
      transform: translateY(-5px);
      transition: 0.22s ease-in;
    }#displayTitle{
      position:absolute;
      color: #FFFFFF;
      text-align: start;
      padding: 25px;
      width: fit-content; 
    }#displayDisc{
      color:#FFFFFF;
      width: fit-content;
      margin-top: 25px;
      font-size: 0.8em;
      padding: 25px;
    }#WGTT{
      margin:auto;
      border-radius: 15px 15px 0 0;
      margin-bottom: 0px;
      width: 82%;
      height: 70%;
      z-index: 30;
      background-color: #3676FF;
      transition: 0.22s ease-out;
    }#wgttLink{
      text-decoration: none;
    }#resumeTitle{
      margin-top:25px;
      text-align: center;
    }#resumeLinkA{
      display: inline-block;
      font-size: 1.1em;
    }#resumeLinkB{
      display: inline-block;
      color: #3676FF;
      text-decoration: none;
      
    }#resumeLinkB:hover{
      text-decoration: underline;
      text-decoration-color: #3676FF;
      text-decoration-style: solid;
      text-decoration-thickness: 2.0px;
    }#h2Tags{
      font-size: 0.9em;
      color: #3676FF;
      display: inline-block;
      margin-top: 0px;
    }#skillsTitle{
      display: inline-block;
      text-align: center;
      font-size: 1.6em;
      margin-top: 100px;
    }#techStack{
      width: 90%;
      margin-top: 0%;
      height: 900px;
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
      flex-direction: row;
      margin-top: 50px;
      overflow: hidden;

    }#techItem{
      text-align: center;
      width: 100px;
      height: 75px;
      background-color: #3F3F3F;
      border-radius: 10px;
      padding: 20px;
      margin: 15px;
      color: white;
      font-size: 1em;
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
       transition: 0.2s ease-out;

    }.skillItem{
      padding-bottom: 10px;
       transition:0.22s ease-out;
    }#techItem:hover > .skillItem{
      transform: translateY(-5px);
      transition:0.22s ease-in;
    }#techItem:hover{
      background-color: #5f5f5f;
      transition: 0.2s ease-in;
    }
    /*BLOG SECTION*/
    #blogContainer{
      width: 100%;
      height: 800px;
      background-color:#3F3F3F;
      margin-top: 0px;
    }.blogContent{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }#blogTitle{
      margin-top: 0px;
      text-align: center;
      color: #FFFFFF;
      padding-top: 150px;
      font-size: 1.6em;
      padding-left: 50px;
      padding-right: 50px;
    }#h3Tags{
      color: #3676FF;
      display: inline-block;

    }#blogSubtitleText{
      display: inline-block;
      font-size: 1.0em;
      color: #3676FF;
    }.blogPostContainer{
      margin-top: 130px;
      width: 80%;
      border-width: 4px;
      border-style: solid;
      border-color: #161616;
      height: 100px;
      border-radius: 20px;
      background-color: #3676FF;
      display: flex;
      align-items: center;
      padding: 20px;
      padding-top: 30px;
      justify-content: flex-start;
      transition: 0.22s ease-out;
    }.blogPostContainer:hover{
      background-color: #2558c7;
      transition: 0.22s ease-in;
      cursor: pointer;
    }#blogPostTitle{
      color: #FFFFFF;
      padding-left: 20px;
    }#blogPostDisc{
      padding-left: 20px;
      color: #FFFFFF;
      font-size: 0.9em;
      width: fit-content;
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      font-size: 0.7em;
    }.navContainer{
      display: none;
    }
}
/*small*/
@media(min-width: 640px){
    /* NAVIGATION */
      .hamburgerContainer li{
          font-size: 1.7em;    
          padding: 9px;
          
      }#close-Button span:nth-child(1){
          width: 48px;
          transition: 0.5s ease-in;
      } #close-Button span:nth-child(2){
          width: 48px;
          transition: 0.5s ease-in;
      }.hamburgerIcon{
        top: 68px;
          height: 34px;
          margin-right: 75px;
          transition: 0.5s ease-in;

      }.hamburgerIcon span{
        margin-top: 0px;
      width: 45px;
      height: 3.6;
      }#devLogoMobile{
        font-size: 48px;
        margin-left: 25px;
        transition: 0.5s ease-in;
  }/* HERO */
  .heroContainer{
    margin-top: 20%;
    margin-bottom: 20%;
  }.straightHeadshot{
      width: 350px;
      height: 350px;
      margin-bottom: 50px;
    }.title{
      font-size: 1.6em;
      margin-top: 5%;
      transition: 0.5s ease-in;
    }#firstPartTitle{
      font-size: 1.1em;
    }#secondPartTitle{
      font-size: 1.5em;
    }#thirdPartTitleA{
      font-size: 1.5em;
    }#personalDisc{
      font-size: 1.3em;
      margin-left: 18px;
      margin-right: 18px;
    }/* FOOTER */
  .footerContainer{
      height: 155px;
    }#smallDevLogo{
      font-size: 28px;
    }.icons{
      height: 35px;
    }#linkedIn, #github, #goodreads{
      width: 22px;
      height: 22px;
    }.icons a{
      margin: 10px;
    }#ownershipTag{
      font-size: 0.8em;
    }
}
/*medium*/
@media(min-width: 768px){
  /* NAVIGATION */
      .hamburgerContainer li{
          font-size: 2.0em;    
          padding: 10px;
      }#close-Button span:nth-child(1){
          width: 55px;
      } #close-Button span:nth-child(2){
          width: 55px;
      }.hamburgerIcon{
          width: 45px;
          height: 35px;
          top: 75px;
          margin-right: 55px;
          transition: 0.5s ease-in;
      }.hamburgerIcon span{
        height: 4px;
        width: 50px;
      }#devLogoMobile{
        font-size: 50px;
        margin-left: 5px;
  }/* HERO */
  .heroContainer{
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 0px;
  }.straightHeadshot{
      width: 400px;
      margin-right: 0px;
      margin-left: 0px;
      height: 400px;
      margin-bottom: 50px;
    }.title{
      font-size: 2.0em;
      margin-top: 5%;
       transition: 0.5s ease-in;
       margin-right: 0px;
    }#firstPartTitle{
      font-size: 1.1em;
    }#secondPartTitle{
      font-size: 1.5em;
    }#thirdPartTitleA{
      font-size: 1.5em;
    }#personalDisc{
      font-size: 1.5em;
      margin-left: 50px;
      margin-right: 0px;
    }/* FOOTER */
  .footerContainer{
      height: 160px;
    }#smallDevLogo{
      font-size: 30px;
    }.icons{
      height: 40px;
    }#linkedIn, #github, #goodreads{
      width: 25px;
      height: 25px;
    }.icons a{
      margin: 10px;
    }#ownershipTag{
      font-size: 0.8em;
    }
}
/*Media Query* --> Computer
/*large(to inginity, and beyoooooooond)*/
@media(min-width: 1024px){
/*NAVIGATION BAR*/
/* body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
    .hamburgerContainer{
      display: none;
    }
    #devLogoMobile{display: none}
    #devLogo{
        display: inline-block;
        left: 0;
        justify-content: flex-start;
        width: 50px;
        height: 10px;
        z-index: 5;
        color: #3676FF;
        display: none;
        font-size: 35px;
        align-items: center;
        transition: 0.5s ease-out;
    }.placeHolderNav{
      width: 200px;
      height: 250px;
    }.navContainer{
        display: flex;
        top: 52px;
        width: 97%;
        justify-content: center;
        padding-bottom: 200px;
        position: fixed;
        z-index: 300;
        flex-direction: row;
        padding-right: 0px;
        margin: auto;
        align-items: flex-start;
    }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        padding: 20px;
        background-color: #3f3f3f29;
        backdrop-filter: blur(25px);
        padding-right:35px;
        height: 20px;
        border-width: 1px;
        border-style:solid;
        border-color: #ffffff21;
        border-radius: 50px;;
        align-items: center;
        justify-content: flex-end;
    }.navContainer li{      
        list-style: none;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        color: #FFFFFF;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 0.8em;
        text-decoration: none;
        text-align: center;
        transition: all .25s ease-out;
        width: 130px;
        height: 5px;
        border-radius: 25px;
      }.navList li:hover{
        background-color: #3676FF;
        border-radius: 25px;
      }.navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
      }
    /* .navContainer li:hover{
        text-decoration: none; 
        color: #3676FF;
        transition: all .25s ease-in;
        flex-direction: row;
      } */
    .navContainer li:active{
        color: #2558c7;
        transition: color 0.25s;
    }
    .hamburgerIcon{
        display: none;
      }
    /* HERO SECTION */
    .heroContainer{
      width: 1000px;
      margin-top: 50px;
      position: absolute;
      margin-bottom: 0%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      position: relative;
      margin: auto;
    }
    .straightHeadshot{
      width: 375px;
      height: 375px;
      transition: 0.5s ease-out;
    }.headshotContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align:start;
      margin-top: 40px;
      transition: 0.5s ease-out;
    }.titleContainer{
      margin-left:22.5px;
      margin-bottom: 125px;
    
    }
    #firstPartTitle{
      font-size: 0.7em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.2em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.2em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.0em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: start;
      padding-left: 0px;
      margin: 0px;
      font-size: 18px;
      padding-right: 0px;
      padding-top: 35px;
      margin-bottom: 0px;
    }#pTags{
      color: #3676FF;
      display: inline;
  
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 300;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      font-size: 0.7em;
      transition: 0.5s ease-out;
    }

}
/* 1350*/
@media(min-width: 1280px){
     .hamburgerContainer{
      display: none;
    }
    #devLogoMobile{display: none}
    #devLogo{
        display: inline-block;
        left: 0;
        justify-content: flex-start;
        width: 50px;
        height: 10px;
        z-index: 5;
        color: #3676FF;
        display: none;
        font-size: 35px;
        align-items: center;
        transition: 0.5s ease-out;
    }.placeHolderNav{
      width: 200px;
      height: 250px;
    }.navContainer{
        display: flex;
        top: 52px;
        width: 97%;
        justify-content: center;
        color: #cc860c;
        padding-bottom: 200px;
        position: fixed;
        z-index: 300;
        flex-direction: row;
        padding-right: 0px;
        margin: auto;
        align-items: flex-start;
    }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        padding: 20px;
        background-color: #3f3f3f29;
        backdrop-filter: blur(25px);
        padding-right:35px;
        height: 20px;
        border-radius: 50px;;
        align-items: center;
        justify-content: flex-end;
    }.navContainer li{      
        list-style: none;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        color: #FFFFFF;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 0.85em;
        text-decoration: none;
        text-align: center;
        transition: all .25s ease-out;
        width: 140px;
        height: 5px;
        border-radius: 25px;
      }.navList li:hover{
        background-color: #3676FF;
        border-radius: 30px;
      }.navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
      }
    /* .navContainer li:hover{
        text-decoration: none; 
        color: #3676FF;
        transition: all .25s ease-in;
        flex-direction: row;
      } */
    .navContainer li:active{
        color: #2558c7;
        transition: color 0.25s;
    }
    .hamburgerIcon{
        display: none;
      }
    /* HERO SECTION */
    .heroContainer{
      width: 1200px;
      
      margin-top: 50px;
      position: absolute;
      padding-bottom: 200px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      position: relative;
      margin: auto;
    }
    .straightHeadshot{
      width: 450px;
      height: 450px;
      transition: 0.5s ease-out;
    }.headshotContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align:start;
      margin-top: 40px;
      transition: 0.5s ease-out;
    }.titleContainer{
      margin-left:35px;
      margin-bottom: 125px;
      
    }
    #firstPartTitle{
      font-size: 0.8em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.3em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.3em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.1em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: start;
      padding-left: 0px;
      margin: 0px;
      font-size: 19px;
      padding-right: 0px;
      padding-top: 35px;
      margin-bottom: 0px;
    }#pTags{
      color: #3676FF;
      display: inline;
  
    }
    /* */
    .aboutContainer{
      width: 1200px;

    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 300;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      font-size: 0.7em;
      transition: 0.5s ease-out;
    }

}




/*Animations */

@keyframes fade-out{
  from{
    opacity: 100%;
  }
    to{
       opacity: 0%;
        transition: 5.5 ease-in;
    }
  }
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
       opacity: 100%;
       transition: 5.5 ease-in;
    }
}
@keyframes animeGradientIn{
  from{
      background: linear-gradient(180deg
      ,rgba(16, 40, 91, 1) 0%,
      rgba(41, 92, 200, 1) 55%,
      rgba(54, 118, 255, 1) 90%);
  }
  to{
    
  }
}