
/*XXS*/
body{
  background-color: #161616;
  margin: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  /* height: 0%; */
}
  /*Scroll-Bar*/
      /*Disables*/
      .overflowHidden{
          height: 100%;
          overflow-y: hidden;
      }
      /*Enables*/
      .overflowShow{
          overflow: auto;
          height: 100vh;
          overflow-x: hidden;
    }


/*Media Queries*/
  /*xs*/
  @media (min-width: 0px){
    /*HAMBURGER NAVIGATION BAR*/
      .hamburgerContainer{
        width:100%;
        height: 120px;
        padding-top: 0;
        margin-bottom: 0vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-end;
      }
      .hamburgerContainer ul{
          flex-direction: column;
          list-style: none;
          width: 70%;
          padding: 0px;
          height: 100%;
          margin-top: 0px;
          position: fixed;
          background-color: #161616;
          z-index: 90;
          transition: all .55s ease-in-out;
          transform: translateX(200vw);
          overflow: hidden;
          visibility: hidden;
        
      }
      .hamburgerContainer li{
          display: flex;
          font-size: 1.8em;    
          padding: 10px;
          height: 100%;
          color: #FFFFFF;
          transition: 0.15s;
          justify-content: center;
      }.hamburgerContainer li:hover{
        color: #3676FF;
        transition: 0.15s;
        cursor: pointer;
      }.hamburgerContainer li:active{
        color: #1f4cae;
        transition: 0.15s;
      }
      .hamburgerContainer a{
          display: flex;
          background-color: #161616;
          text-decoration: none;
          padding: 5%;
          cursor: default;
          display: flex;
          justify-content: center;
      } 
      
      /* .hamburgerContainer a.active-link{
          transition: background-color 0.25s;
          
      }
      
      .hamburgerContainer a.active-link:active{
          transition: color 0.25s;
          
      } */
      
      ul.open{
        visibility:visible;
        position: fixed;
        transform: translateX(0vw);
      }.overlayFadeIn{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.188);
        z-index: 6;
        animation: fade-in 0.25s;
      }.overlayFadeOut{
        
        z-index: 6;
        animation: fade-out 0.25s;
      }
      
      /*Close Navigation Menu*/
      #close-Button{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 12%;
        margin-bottom: 50px;
      }
      
      #close-Button span:nth-child(1){
          margin-top: 100px;
          height: 0.3rem;
          width: 14%;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-13px) rotate(45deg);
          cursor: pointer;
      }
      
      #close-Button span:nth-child(2){
          height: 0.3rem;
          width: 14%;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-18px) rotate(-45deg);
          cursor: pointer;
      }
      
      .hamburgerIconBackground{
          width: 50%;
          height: 75px;
          display: flex;
          margin:0;
          justify-content: end;
          padding-bottom: 10%;
      }
      
      .hamburgerIcon{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 2.0rem;
          height: 30px;
          padding-top: 57px;
          margin-right: 55px;
          z-index: 5;
     }
     
     .hamburgerIcon span {
          height: 0.25rem;
          width: 115%;
          background-color: #3676FF;
      } 
      
      .hamburgerIcon:hover{
          cursor: pointer; 
      }
      
      #devLogo{
        display: flex;
        left: 0;
        justify-content: flex-start;
        width: 50px;
        height: 10px;
        position: absolute;
        z-index: 5;
        color: #3676FF;
        padding: 25px;
        margin-top: 42px;
        padding-left: 45px;
        font-size: 40px;
        align-items: center;
  }
    /* HERO SECTION */
    .straightHeadshot{
      width: 250px;
      transition: 0.5s ease-in;
    }.headshotContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
    }#firstPartTitle{
      font-size: 1.25em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.8em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.8em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.1em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: center;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 15px;
    }#pTags{
      color: #3676FF;
      display: inline;
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: absolute;
      top: 850px;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }#ownershipTag{
      font-size: 0.8em;
    }
  /* TEMP USAGE */
  .navContainer{
    display: none;
  }
}


@keyframes fade-out{
  from{
    opacity: 100%;
  }
    to{
       opacity: 0%;
        transition: 5.5 ease-in;
    }
  }
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
       opacity: 100%;
       transition: 5.5 ease-in;
    }
}