
/*Base Layout*/
body{
  background-color: #161616;
  overflow-y: hidden;
  margin: 0px;
  overflow-x: hidden;
  /* height: 0%; */
}
  /*Scroll-Bar*/
      /*Disables*/
      .overflowHidden{
          height: 100vh;
          overflow-y: hidden;
      }
      /*Enables*/
      .overflowShow{
          overflow: auto;
          height: 100vh;
          overflow-x: hidden;
    }

/*Media Queries* --> Iphone and Tablets
  /*xs*/
@media (min-width: 0px){
    /*HAMBURGER NAVIGATION BAR*/
      .hamburgerContainer{
        width:100%;
        height: 120px;
        padding-top: 0;
        margin-bottom: 0vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: flex-end;
      }
      .hamburgerContainer ul{
          flex-direction: column;
          list-style: none;
          width: 70%;
          padding: 0px;
          height: 100%;
          margin-top: 0px;
          position: fixed;
          background-color: #161616;
          z-index: 90;
          transition: all .55s ease-in-out;
          transform: translateX(200vw);
          overflow: hidden;
          visibility: hidden;
        
      }
      .hamburgerContainer li{
          display: flex;
          font-size: 1.5em;    
          padding: 5px;
          height: 100%;
          color: #FFFFFF;
          transition: 0.5s;
          justify-content: center;
      }.hamburgerContainer li:hover{
        color: #3676FF;
        transition: 0.15s;
        cursor: pointer;
      }.hamburgerContainer li:active{
        color: #2558c7;
        transition: 0.15s;
      }
      .hamburgerContainer a{
          display: flex;
          background-color: #161616;
          text-decoration: none;
          padding: 5%;
          cursor: default;
          display: flex;
          justify-content: center;
      } ul.open{
        visibility:visible;
        
        position: fixed;
        transform: translateX(0vw);
      }.overlayFadeIn{
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.188);
        z-index: 6;
        animation: fade-in 0.25s;
      }.overlayFadeOut{
        z-index: 6;
        animation: fade-out 0.25s;
      }
      /*Close Navigation Menu*/
      #close-Button{
        display: flex;
        flex-direction: column;
        align-items: end;
        padding-right: 12%;
        margin-bottom: 50px;
      } 
      #close-Button span:nth-child(1){
          margin-top: 100px;
          height: 5px;
          width: 44px;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-13px) rotate(45deg);
          cursor: pointer;
          transition: 0.5s ease-out;
      } #close-Button span:nth-child(2){
          height: 5px;
          width: 44px;
          z-index: 5;
          background-color: #3676FF;
          transform: translateY(-18px) rotate(-45deg);
           transition: 0.5s ease-out;
          cursor: pointer;
      }.hamburgerIconBackground{
          width: 300px;
          height: 75px;
          margin-left: 50px;
          display: flex;
          margin:0;
          justify-content: end;
          padding-bottom: 10%;
      } .hamburgerIcon{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          width: 35px;
          height: 31px;
          padding-top: 15px;
          margin-right: 55px;
          top: 65px;
          z-index: 5;
           transition: 0.5s ease-out;
     }.hamburgerIcon span {
          height: 3.50px;
          width: 40px;
          background-color: #3676FF;
      }.hamburgerIcon:hover{
          cursor: pointer; 
      }#devLogoMobile{
        display: flex;
        left: 0;
        justify-content: flex-start;
        width: 50px;
        height: 10px;
        position: absolute;
        z-index: 5;
        color: #3676FF;
        padding: 25px;
        margin-top: 42px;
        padding-left: 45px;
        font-size: 40px;
        align-items: center;
        transition: 0.5s ease-out;
  }
    /* HERO SECTION */
    .heroContainer{
      width: 100vw;
      margin-top: 10%;
      margin-bottom: 0%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .straightHeadshot{
      width: 250px;
      transition: 0.5s ease-in;
    }.headshotContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 50px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 10px;
       transition: 0.5s ease-out;
    }#firstPartTitle{
      font-size: 1.25em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.8em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.8em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.1em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: center;
      padding-left: 60px;
      padding-right: 60px;
      padding-top: 15px;
      margin-bottom: 100px;
    }#pTags{
      color: #3676FF;
      display: inline;
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      top: 200px;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      font-size: 0.7em;
    }.navContainer{
      display: none;
    }
}
/*small*/
@media(min-width: 640px){
    /* NAVIGATION */
      .hamburgerContainer li{
          font-size: 1.7em;    
          padding: 9px;
          
      }#close-Button span:nth-child(1){
          width: 48px;
          transition: 0.5s ease-in;
      } #close-Button span:nth-child(2){
          width: 48px;
          transition: 0.5s ease-in;
      }.hamburgerIcon{
top: 68px;
          height: 34px;
          margin-right: 75px;
          transition: 0.5s ease-in;

      }.hamburgerIcon span{
        margin-top: 0px;
      width: 45px;
      }#devLogoMobile{
        font-size: 48px;
        margin-left: 25px;
        transition: 0.5s ease-in;
  }/* HERO */
  .heroContainer{
    margin-top: 20%;
    margin-bottom: 20%;
  }.straightHeadshot{
      width: 350px;
      height: 350px;
      margin-bottom: 50px;
    }.title{
      font-size: 1.6em;
      margin-top: 5%;
      transition: 0.5s ease-in;
    }#firstPartTitle{
      font-size: 1.1em;
    }#secondPartTitle{
      font-size: 1.5em;
    }#thirdPartTitleA{
      font-size: 1.5em;
    }#personalDisc{
      font-size: 1.3em;
      margin-left: 18px;
      margin-right: 18px;
    }/* FOOTER */
  .footerContainer{
      top: 150px;
      height: 155px;
    }#smallDevLogo{
      font-size: 28px;
    }.icons{
      height: 35px;
    }#linkedIn, #github, #goodreads{
      width: 22px;
      height: 22px;
    }.icons a{
      margin: 10px;
    }#ownershipTag{
      font-size: 0.8em;
    }
}
/*medium*/
@media(min-width: 768px){
  /* NAVIGATION */
      .hamburgerContainer li{
          font-size: 2.0em;    
          padding: 10px;
      }#close-Button span:nth-child(1){
          width: 55px;
      } #close-Button span:nth-child(2){
          width: 55px;
      }.hamburgerIcon{
          width: 45px;
          height: 35px;
          top: 75px;
          margin-right: 55px;
          transition: 0.5s ease-in;
      }.hamburgerIcon span{
        height: 4px;
        width: 50px;
      }#devLogoMobile{
        font-size: 50px;
        margin-left: 5px;
  }/* HERO */
  .heroContainer{
    margin-top: 10%;
    margin-bottom: 10%;
  }.straightHeadshot{
      width: 400px;
      height: 400px;
      margin-bottom: 50px;
    }.title{
      font-size: 2.0em;
      margin-top: 5%;
       transition: 0.5s ease-in;
    }#firstPartTitle{
      font-size: 1.1em;
    }#secondPartTitle{
      font-size: 1.5em;
    }#thirdPartTitleA{
      font-size: 1.5em;
    }#personalDisc{
      font-size: 1.5em;
      margin-left: 50px;
      margin-right: 50px;
    }/* FOOTER */
  .footerContainer{
      top: 150px;
      height: 160px;
    }#smallDevLogo{
      font-size: 30px;
    }.icons{
      height: 40px;
    }#linkedIn, #github, #goodreads{
      width: 25px;
      height: 25px;
    }.icons a{
      margin: 10px;
    }#ownershipTag{
      font-size: 0.8em;
    }
}
/*Media Query* --> Computer
/*large(to inginity, and beyoooooooond)*/
@media(min-width: 1024px){
/*NAVIGATION BAR*/
    .hamburgerContainer{
      display: none;
    }
    #devLogoMobile{display: none}
    #devLogo{
        display: inline-block;
        left: 0;
        justify-content: flex-end;
        width: 50px;
        height: 10px;
        z-index: 5;
        color: #3676FF;
        padding-left: 70px;
        font-size: 35px;
        align-items: center;
        transition: 0.5s ease-out;
    }.navContainer{
        display: flex;
        top: 42px;
        width: 100%;
        color: #FBEED7;
        position: relative;
        flex-direction: row;
        margin-top: 0px;
        align-items: flex-start;
    }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        width: 95vw;
        right: 0px;
        justify-content: flex-end;
        margin-right: 65px;
    }.navContainer li{      
        list-style: none;
        display: flex;
        justify-content: space-between;
        color: #FFFFFF;
        font-size: 0.9em;
        text-decoration: none;
        text-align: center;
        transition: all .25s ease-out;
        width: 140px;
      }
    .navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        cursor: pointer;
        flex-direction: row;
      }
    .navContainer li:hover{
        text-decoration: none; 
        color: #3676FF;
        transition: all .25s ease-in;
        flex-direction: row;
      }
    .navContainer li:active{
        color: #2558c7;
        transition: color 0.25s;
    }
    .hamburgerIcon{
        display: none;
      }
    /* HERO SECTION */
    .heroContainer{
      width: 100vw;
      margin-top: 15%;
      margin-bottom: 0%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      
    }
    .straightHeadshot{
      width: 400px;
      height: 400px;
      transition: 0.5s ease-out;
    }.headshotContainer{
      width: 100%;
      display: flex;
      margin-right: 70px;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align:start;
      margin-top: 40px;
      transition: 0.5s ease-out;
    }.titleContainer{
      margin-left: 125px;
      margin-right: 50px;
      margin-bottom: 125px;
      
    }
    #firstPartTitle{
      font-size: 0.8em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.3em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.3em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.1em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: start;
      padding-left: 0px;
      margin: 0px;
      font-size: 18px;
      padding-right: 0px;
      padding-top: 35px;
      margin-bottom: 0px;
    }#pTags{
      color: #3676FF;
      display: inline;
  
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      top: 200px;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      font-size: 0.7em;
      transition: 0.5s ease-out;
    }

}
@media(min-width: 1280px){
  .hamburgerContainer{
      display: none;
    }
    #devLogoMobile{display: none}
    #devLogo{
        display: inline-block;
        left: 0;
        justify-content: flex-end;
        width: 50px;
        height: 10px;
        z-index: 5;
        color: #3676FF;
        padding-left: 70px;
        font-size: 40px;
        align-items: center;
        transition: 0.5s ease-out;
    }.navContainer{
        display: flex;
        top: 42px;
        width: 100%;
        color: #FBEED7;
        position: relative;
        flex-direction: row;
        margin-top: 0px;
        align-items: flex-start;
    }.navContainer ul{
        align-items: flex-end;
        color: #FBEED7;
        display: flex;
        width: 95vw;
        right: 0px;
        justify-content: flex-end;
        margin-right: 57px;
    }.navContainer li{      
        list-style: none;
        color: #FFFFFF;
        text-decoration: none;
        text-align: center;
        transition: all .25s ease-out;
        width: 150px;
        font-size: 1.0em;
      }
    .navContainer a{
        text-decoration: none;
        display: flex;
        font-size: 1.5em;
        cursor: pointer;
        flex-direction: row;
      }
    .navContainer li:hover{
        text-decoration: none; 
        color: #3676FF;
        transition: all .25s ease-in;
        flex-direction: row;
      }
    .navContainer li:active{
        transition: color 0.25s;
    } .hamburgerIcon{
        display: none;
      }
    /* HERO SECTION */
    .heroContainer{
      width: 100vw;
      margin-top: 100px;
      margin-bottom: 0%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      
    }
    .straightHeadshot{
      width: 450px;
      height: 450px;
      transition: 0.5s ease-out;
    }.headshotContainer{
      width: 100%;
      display: flex;
      margin-right: 80px;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      
    }.straightHeadshot:hover{
      transform: scale(1.04);
      transition: 0.5s ease-in;
      filter: brightness(1.15)
    }.title{
      width: 100%;
      color: #FFFFFF;
      display: flex;
      flex-direction: column;
      text-align:start;
      margin-top: 80px;
      transition: 0.5s ease-out;
    }.titleContainer{
      margin-top: 50px;
      margin-left: 125px;
      margin-right: 60px;
      margin-bottom: 125px;
    }
    #firstPartTitle{
      font-size: 0.9em;
      margin-bottom: 0px;
      margin-top: 40px;
    }#secondPartTitle{
      font-size: 1.5em;
      margin-top: 0px;
      margin-bottom: 0px;
    }#thirdPartTitleA{
      font-size: 1.5em;
      margin-top: 0px;
      color: #3F3F3F;
      margin-bottom: 0px;
    }#thirdPartTitleB{
      display: inline;
      margin-top: 0px;
      font-size: 1.0em;
      color: #3676FF;
    }#personalDisc{
      color: #FFFFFF;
      text-align: start;
      padding-left: 0px;
      margin: 0px;
      font-size: 20px;
      padding-right: 0px;
      
      margin-bottom: 0px;
    }#pTags{
      color: #3676FF;
      display: inline;
  
    }
    /* FOOTER SECTION */
    .footerContainer{
      width: 100%;
      height: 140px;
      background-color: #E6E6E6;
      position: relative;
      top: 200px;
      left: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }#smallDevLogo{
      color: #3676FF;
      font-size: 25px;
      margin-bottom: 0px;
    }.icons{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 30px;
    }#linkedIn, #github, #goodreads{
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: space-between;
    }.icons a{
      cursor: pointer;
      margin: 8px;
    }
    #ownershipTag{
      margin-top: 5px;
      transition: 0.5s ease-in;
      font-size: 0.9em;
    }
}

















/*Animations */

@keyframes fade-out{
  from{
    opacity: 100%;
  }
    to{
       opacity: 0%;
        transition: 5.5 ease-in;
    }
  }
@keyframes fade-in{
    from{
        opacity: 0%;
    }
    to{
       opacity: 100%;
       transition: 5.5 ease-in;
    }
}